<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path 'zenklff1gao0txsl8rhq' %>)">
  <h1>La Hacienda</h1>
  <%= link_to "Create Your Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</div>

<div class="container">
  <h1>Browse</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <h2><%= link_to cocktail.name, cocktail %></h2>
      </div>
      <% end %>
  </div>
</div>

<div class="footer">
  <ul>
    <li><a href="https://github.com/Daturkington" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/danielturkington/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/turkingtond/" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
</div>


