.cards {
  border-top: solid #97948C;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  color: white;
  margin: 24px;
  padding: 16px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category h2 > a{
  color: white;
  font-family: "Georgia";
  font-size: 32px;
}

.container-show {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.image-left {
  background-size: cover;
  height: 100vh;
  width: 50%;
}

.container-ingredient {
  padding-right: 10%;
  padding-top: 3%;
}

.container-ingredient h1{
  font-family: "Georgia";
}

.container-ingredient ul {
  list-style: none;
}

.container-ingredient a {
  color: black;
}

.container-form {
padding-left: 180px;
padding-right:180px;
padding-top: 160px;
}

.container-form h1 {
  font-family: "Georgia";
}

.container-form a {
  margin-top: 16px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
