// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "button";
@import "footer";
@import "card";

body {
  background-color: #FFFBEE;
}

.container {
  text-align: center;
  padding: 24px;
  font-family: "Georgia";
}

.container h1 {
  font-family: Georgia;
  font-size: 32px;
  margin: 16px;
}
